@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Regular.ttf);
}

* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  width: 100%;
  background-color: #0c7070;
  color: white;
  height: 100vh;
}

header {
  background-color: #0a4646;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .within {
  margin: 0 auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .within a {
  padding: 10px;
}

header .within a img {
  width: 50px;
}

header .within .guest-min {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-family: "Rubik";
  font-weight: 600;
  font-size: 20px;
}

header .within .guest-min .div {
  padding: 10px 20px;
  -webkit-transition: .8s all;
  transition: .8s all;
  border-radius: 10px;
  cursor: pointer;
}

header .within .guest-min .div:hover {
  background-color: #fff;
  color: #0c7070;
  border-radius: 20px 20px 20px 0;
}

header .within .guest-min .div:hover .hidden1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .within .guest-min .div:hover .hidden2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .within .guest-min .div:hover:nth-child(2) {
  border-radius: 20px 20px 0 20px;
}

header .within .hidden1 {
  z-index: 1;
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  margin-top: 40px;
  margin-right: 50px;
  -webkit-transition: 1s display;
  transition: 1s display;
}

header .within .hidden1:nth-of-type(2) {
  margin-right: 0;
}

header .within .hidden1 .hid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: auto;
}

header .within .hidden1 .hid a {
  color: #0a4646;
  background-color: #fff;
  text-align: center;
}

header .within .hidden1 .hid a:nth-child(even) {
  color: #ffff;
  background-color: #0a4646;
}

header .within .hidden2 {
  z-index: 1;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  margin-top: 40px;
  margin-left: 20px;
  -webkit-transition: 1s display;
  transition: 1s display;
}

header .within .hidden2:nth-of-type(2) {
  margin-right: 0;
}

header .within .hidden2 .hid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: auto;
}

header .within .hidden2 .hid a {
  color: #0a4646;
  background-color: #fff;
  width: 170px;
  text-align: center;
}

header .within .hidden2 .hid a:nth-child(even) {
  color: #ffff;
  background-color: #0a4646;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
}

main .left {
  width: 45%;
}

main .left img {
  width: 90%;
  border-radius: 10px 30px 15px 10px;
}

main .right {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .right h1 {
  margin-bottom: 50px;
}

main .right p {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main .right p a {
  color: #0c7070;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */